/*index.html css*/
.human-navbar{
    margin-left: 70%;
}

.human-index-div{
    margin: 16%;
    color: white;
}

.human-footer{
    color: white;
    padding: 10px;;
}

/* features.html */

.human-features-container{
    margin-top: 3%;
}

.human-features-main{
    margin: 3%;
}

.human-features-form{
    margin-right: 21%;
}